<section class="admin_dashboard">

<h3> Admin Dashboard </h3>

<div class="admin_dashboard_content">
  <h5> Product Count: </h5>
  <%= @product_count %>
  <h5> Category Count </h5>
  <%= @category_count %>
</div>

</section>